{% extends 'router/base.html' %}
{% block content %}
    <div class="content-section">
        <h2 class="border-bottom">How to Use URL Shortener</h2>
        <ul class="content-section">
            <br/>
            <li>Add any URL that needs to be shortened in <strong>Original url</strong> field and then add any combination of characters in the <strong>key</strong> field.</li>
            <br/>
            <li>Make sure to add <strong>http(s)://</strong> before any URL</li>
        </ul>
    </div>
{% endblock content %}